/* packages/webview-app/src/components/shims/shared/index.css */
/* Import all shared shim styles */
/* This file should be imported by base & framework-specific styles */

@import './tokens.css';
@import './callout-variants.css';
